.userPostThumbnailContainer{
    width: 100px;
    height: 100px;
    
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 9px;
    -webkit-box-shadow: -1px -1px 5px 3px rgba(0,0,0,0.17);
-moz-box-shadow: -1px -1px 5px 3px rgba(0,0,0,0.17);
box-shadow: -1px -1px 5px 3px rgba(0,0,0,0.17);
}
.thumbnailImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}